@charset "UTF-8";

.o-layout__header .o-header-services__top .o-header-services__ftlogo {
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?source=origami-build-service");
}

.example-table {
	table-layout: fixed;
	width: 100%;
}

.url-builder-preview {
	flex-basis: 75%;
	margin-left: 20px;
}

.url-builder-output {
	width: 98%;
	height: 100px;
}

.flex-container {
	display: flex;
}

dt {
	font-weight: bold;
	line-height: 1.5;
}

.hex-input {
	width: 444px;
}


.image-grid {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 0;
}

.image-grid img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}

.image-grid__item {
	flex: 0 1 35%;
	margin: 0 4px 24px;
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
}

/* .image-grid__item__title {
	padding-top: oSpacingByName('s1');
	padding-bottom: oSpacingByName('s1');
	text-align: center;
	margin-top: auto;
	border-bottom: 1px solid oColorsByName('slate-white-15');
} */
